*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body,#root{
  height: 100%;
  width: 100%;
}

body{
  background-color: rgba(81, 29, 29, 0.929);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding: 2rem;
  padding-inline: 1rem;
}

.note{
  background-color: rgb(32, 29, 29);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}

.input-form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 10px;
}

.input-form input{
  padding: 10px 8px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
}

.btn{
  padding: 10px 8px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.DeleteBtn{
  padding: 3px 4px;
  border-radius: 10px;
  border: none;
}